<div class="modal-header">
    <h3 class="modal-title">Add Collection:</h3>
</div>

<div class="modal-body">
    <accordion>

        <accordion-group ng-show="colls" is-open="status.accordionExistingCollOpen">
            <accordion-heading>
                <div>
                    Existing Collections: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.accordionExistingCollOpen, 'glyphicon-chevron-right': !status.accordionExistingCollOpen}"></i>
                </div>
            </accordion-heading>
              
            <div class="panel panel-default">
                  <!-- Default panel contents -->
                <div  ng-class="{'gray-out panel-heading cs-panel-heading':delCollMode,'panel-heading cs-panel-heading':!delCollMode}">
                    <span class="col-md-4 col-xs-8">Name</span>
                    <span ng-class="{'col-md-5 hidden-xs hidden-sm':!admin,'col-md-3 hidden-xs hidden-sm':admin} ">Description</span>
                    <span ng-show="admin" class="col-md-2 hidden-xs hidden-sm">Created by</span>
                    <span class="col-md-3" ng-show="!editCollsMode"><a ng-click="editColls(true)">Edit</a></span>
                    <span class="col-md-3" ng-show="editCollsMode"><a ng-click="editColls(false)">Select</a></span>
                       
                </div>


                  <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item overflow-visible" ng-repeat="coll in colls">
                        <div class="" ng-show="coll._id!=delCollId" ng-class="{'gray-out':delCollMode}">
                            <span class="col-md-4 col-xs-8">{{coll.name}}</span>
                            <span ng-class="{'col-md-5 hidden-xs hidden-sm':!admin,'col-md-3 hidden-xs hidden-sm':admin} ">{{coll.description}}</span>
                            <span ng-show="admin" class="col-md-2 hidden-xs hidden-sm">{{coll.creator.username}}</span>
                            <span class="col-md-3" ng-show="!editCollsMode">
                                <button class="btn btn-primary" ng-click="addColl(coll._id)">Add</button>
                            </span>
                            <span class="col-xs-4 pad-0-lr" ng-show="editCollsMode && !delCollMode">
                                <span><button class="btn btn-primary" ng-click="editColl(coll._id)"><i class="glyphicon glyphicon-edit"></i></button></span>
                                <span><button class="btn btn-danger" ng-click="delCollConfirm(coll._id)"><i class="glyphicon glyphicon-trash"></i></button></span>
                                
                            </span>
                        </div>
                        <div class="row overflow-visible" ng-show="delCollMode && coll._id==delCollId">
                             <div class="col-md-8">
                                <p>Are you sure you want to delete permantenly <strong class="XL-font">{{coll.name}}?</strong>  </p>
                                <p class="light-gray S-font">Be aware that ALL the documents in the collection will be deleted... </p>
                                    
                            </div>
                            <div class="col-md-4">
                                <span>
                                    <button class="btn btn-default" ng-click="cancelDelColl(coll._id)">No</button>
                                </span>
                                <span>
                                    <button class="btn btn-danger" ng-click="delColl(coll)">Yes, DELETE</button>
                                </span>
                            </div>
                           
                                
                        </div>
                    </li>
                    <li class="list-group-item" ng-show="editCollsMode && colls.length>1">
                       <span><button class="btn btn-danger" ng-click="delAllCollConfirm()"><i class="glyphicon glyphicon-trash"></i> All</button></span>
                     
                    </li>
                                
                </ul>
            </div>
                  

        </accordion-group>
        <div ng-show="colls">
            <br >
        <div ><span class="center-block">or</span> </div>  
        <br>  
        </div>
      
        <accordion-group ng-show="true" is-open="status.accordionNewCollOpen">
            <accordion-heading>
                <div>
                    Create New Collection: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.accordionNewCollOpenn, 'glyphicon-chevron-right': !status.accordionNewCollOpen}"></i>
                </div>
            </accordion-heading>

            <!-- New Collection form -->
            <form name="newCollForm" class="form-horizontal" novalidate>

                <div class="form-group">
                     <div class="controls">
                        <!-- collection name input -->
                        <label class="control-label" for="title">Collection Name </label>
                        <div ng-show="!collSaved">
                            <div class="row " >
                            
                                <div class=" col-xs-12 col-sm-6">
                                    <input name="collName"  type="text" ng-model="newColl.name"  id="title" placeholder="Name" required 
                                    ng-class="{' form-control':newCollForm.collName.$invalid, ' form-control form-control-isValid':newCollForm.collName.$valid,' form-control form-control-isInvalid':isInvalid(newColl)}">
                                </div>
                             

                                <div class="col-xs-12  col-sm-3 pad-xs-15-lr pad-xs-5-tb pad-0-lr">
                                    
                                    <button  ng-disabled="isInvalid(newColl)||newCollForm.collName.$invalid" ng-click="saveColl()" class="btn btn-primary pull-right-xs">Create</button>
                                    
                                </div>
                               
                                 
                                <!-- error mgs -->
                            </div>
                            <div class="row col-md-12">
                                <span ng-show="isInvalid(newColl)||newCollForm.collName.$invalid">
                                    <span ng-repeat="msg in msgAlertCollNames"><p class=" text-alert-danger" >{{msg}}</p>        
                                    </span>
                                </span> 
                            </div>    
                        </div>
                        

                        <!-- collection created -->
                        <div ng-show="collSaved">
                            <div class="row col-md-12" >
                                <div class="col-md-6">
                                    <h3>{{newColl.name}}</h3>
                                 
                                </div> 

                    
                                <!-- success mgs -->
           
                            </div>
                            <div class="row col-md-12">
                                <span ng-show="collSaved">
                                        <span ng-repeat="msg in msgSuccessColls"><p class=" text-alert-success" >{{msg}}</p>        
                                        </span>
                                </span>  
                            </div>
                    
                        </div>
                        
                       
                    </div>
                </dipull-rigv>
               
                <!-- fields panel -->
                <div ng-show="collSaved">
                    <label class="control-label" for="fieldPanel">Fields</label>

                    <div id="fieldPanel"  class="panel panel-default" >
                
                        <!-- nested form add new field -->
                        <ul class="list-group">
                            
                            <!-- fields entered -->
                            <li class="list-group-item noMinHeight noPadding" ng-repeat="field in coll.fields">
                                <div class=" panel-body noPadding"  ng-show="!newCollFieldEdit">
                                    <div class="col-md-2 pull-right"><a ng-click="editField(newCollField)"> edit</a></div>
                                    
                                    <div class="col-md-6 ">
                                        
                                        <h4> <span class="label cs-label">Name</span> {{field.name}}</h4> 
                                    </div>  

                                 
                                            
                                    <div class="col-md-2"> 
                                       
                                        <h5><span class="label cs-label">Type</span> {{field.type}}</h5>
                                    </div>

                                    

                                    <div class="col-md-2 ">

                                       <h5 class="cs-h5-checkbox"> <span class="label cs-label cs-label-checkbox">Required</span><span  ng-if=" field.required" ><i class="fa fa-check-square lgCheckBox " ></i></span><span ng-if="!field.required" ><i class="fa fa-square-o lgCheckBox "></i></span>
                                    </div>
                                </div>

                                <!-- edit mode -->
                                <ng-form  name="fieldForm" novalidate ng-show="newCollFieldEdit && newCollFieldEditing.id==field.id">
                                    <div class=" panel-body" >
                                        <div class="">
                              
                                            <div class="col-md-6 ">
                                                <i>Name</i> 
                                                <div class="cs-inline-form col-md-6">
                                               
                                                    <input type="text" name="fieldName" ng-model="field.name" 
                                                    ng-class="{' form-control':fieldForm.fieldName.$invalid, ' form-control form-control-isValid':fieldForm.fieldName.$valid,' form-control form-control-isInvalid':isFieldInvalid()}" placeholder="Name" required ng-minlength="1">
                                    
                                                
                                                    <div ng-hide="isFieldInvalid()||fieldForm.fieldName.$invalid&&!newCollFieldEdit" class=" fa fa-check cs-green-lg "></div>
                               
                                                </div>   
                                            
                                            </div>
                                            
                                            <br class="visible-xs visible-sm">
                                            
                                            <div class="col-md-2 dropdown">
                                                <i>Type</i>
                                                <div class="clearfix"></div>
                                                    
                                                    <button  type="button" ng-click="fieldTypeClick()" class="btn btn-default dropdown-toggle">{{field.type}}
                                                       <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li ng-repeat="fieldType in fieldTypes"><a dropdown-toggle ng-click="selType(fieldType)">{{fieldType}}</a>
                                                        </li>
                                                    </ul>
                                            </div>

                                            <br class="visible-xs visible-sm">

                                            <div class="col-md-2 ">
                                                <i>Required </i>
                                                <div class="" ng-click="field.required=!field.required"><span ng-if=" field.required" ><i class="fa fa-check-square lgCheckBox primary " ></i>   </span><span ng-if="!field.required" ><i class="fa fa-square-o lgCheckBox primary"></i>   </span>
                                                </div>
                                            </div>

                                            <br class="visible-xs visible-sm">
                                            <div class="col-md-2 ">
                                                <br class="hidden-xs hidden-sm">
                                                <div class="btn-group">
                                                    <button  class="btn btn-primary" ng-click="updateField()" ng-disabled="isFieldInvalid()||fieldForm.fieldName.$invalid||isFieldTypeInvalid()">update field</button>
                                                </div>  
                                            </div>

                                            <!-- errors handler -->
                                            <div class="col-md-12">
                                                <span ng-show="isFieldInvalid()||fieldForm.fieldName.$invalid||isFieldTypeInvalid()">
                                                    <span ng-repeat="msg in newCollFieldAlertMsgs"><p class=" text-alert-danger" >{{msg}}</p>        
                                                    </span>
                                                </span>                                                


                                            </div>

                                        </div>
                                    </div>


                                </ng-form> 


                            </li>
                            <!-- add new field form -->
                            <li class="list-group-item noMinHeight" ng-show="!newCollFieldEdit">
                                <ng-form  name="fieldForm" novalidate>
                                    <div class=" panel-body" >
                                        <div class="">
                              
                                            <div class="col-md-6 col-xs-12">
                                                <i>Name</i> 
                                                
                                               
                                                    <input type="text" name="fieldName" ng-model="newCollField.name" 
                                                    ng-class="{' form-control':fieldForm.fieldName.$invalid, ' form-control form-control-isValid':fieldForm.fieldName.$valid,' form-control form-control-isInvalid':isFieldInvalid()}" placeholder="Name" required ng-minlength="1">
                                    
                                
                               
                                                   
                                                
                                                    <span ng-show="isFieldInvalid()||fieldForm.fieldName.$invalid||isFieldTypeInvalid()">
                                                        <span ng-repeat="msg in newCollFieldAlertMsgs"><p class=" text-alert-danger" >{{msg}}</p>        
                                                        </span>
                                                    </span>                                                


                                            </div>
                                            
                                  
                                           
                                            <div class="col-md-2 col-xs-4 dropdown">
                                                <i>Type</i>
                                                <div class="clearfix"></div>
                                                    
                                                <button type="button" ng-click="fieldTypeClick()" class="btn btn-default dropdown-toggle">{{newCollField.type||'Select'}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="fieldType in fieldTypes"><a dropdown-toggle ng-click="selType(fieldType)">{{fieldType}}</a>
                                                    </li>
                                                </ul>
                                            </div>

                                       

                                            <div class="col-md-2 col-xs-4 ">
                                                <i>Required </i>
                                                <div class="" ng-click="newCollField.required=!newCollField.required"><span ng-if=" newCollField.required" ><i class="fa fa-check-square lgCheckBox primary " ></i>   </span><span ng-if="!newCollField.required" ><i class="fa fa-square-o lgCheckBox primary"></i>   </span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-4 pad-15-tb">
                                         
                                                <div class="btn-group">
                                                 
                                                    <button  class="btn btn-primary pull-right" ng-click="addField()" ng-disabled="isFieldInvalid()||fieldForm.fieldName.$invalid||isFieldTypeInvalid()">add field</button>
                                                </div>  
                                            </div>
                                            
                              
     
                                          
                   

                                        </div>
                                    </div>
                                   
                                </ng-form> 
                            </li><!-- add new field form -->
                        </ul>

                    </div>
                   <!-- end nested form -->
                    <div class="form-group" ng-show="countFields()">

                        <label class="control-label" for="content">Decription (optional)</label>
                        <div class="controls">
                            <textarea ng-model="content" class="form-control" id="content" rows="2" placeholder="Content"></textarea>
                        </div>
                    </div>
                    
                </div>
                         <div class="col-xs-12 pad-xs-5-tb" ng-show="collSaved">
                                  
                                    <button class="btn btn-danger pull-right" ng-click="addColl(coll._id)">Add</button>
           
                                </div>
                <br>
               
                </div>
                 
            </ng-form>
        <!-- END MAIN FORM   -->
        </accordion-group>
            <div ng-show="currentUser.preference.debugging && debugging" class="debugging" >
        debugging: <i class="pull-right glyphicon" ng-click="debugging=!debugging" ng-class="{'glyphicon-close': debugging, 'glyphicon-close-right': !debugging}">x</i>
        colls:{{colls}}
        <div ng-init="todolist=true" ng-show="todolist" >
            <h5><span>todo List</span><span  class="btn" ng-click="todolist=false"> [x]</span></h5>
            <ul>
                <li> // add corfiramtion remove all collection</li>
            </ul>
        </div>  

    </div>
    </accordion>
    

    <!-- debugging -->


</div>




<div class="modal-footer">
 
                               
    <button class="btn btn-default" ng-click="cancel()">Close</button>





</div>

<!-- debugging -->









