<p class="text-center" ng-show="loading">
	<span class="fa fa-spinner fa-spin fa-3x"></span>
</p>

<br/>
<!-- views -->
<div class="row">
	<div class="col-xs-12">
		<a class="XXL-font" href="/admin-view">Views </a> <span class="XXL-font" ng-init="findOneView()">{{view.name}}</span><p class="pull-right"> created on: {{dateCreated}} </p> 	

	</div>	
</div>

<br/>
<!-- ViewDetail -->
<accordion>
	<accordion-group ng-show="showView"   is-open="status.accordionViewDetailsOpen">
		<accordion-heading>
			<div>
				Details: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.accordionViewDetailOpen, 'glyphicon-chevron-right': !status.accordionViewDetailOpen}"></i>

			</div>
		</accordion-heading>

		
		<div class="pull-right  pad-0-lr">
			<a class="" ng-show="!editModeViewColls" ng-click="editModeViewCollsCall('true')">edit</a>
		
		</div>






		<div class=" col-sm-6 col-xs-12 pad-xs-2-lr pad-2-lr">

			<div  ng-repeat="coll in view.collections">
				<h4 ng-show="coll.type=='main'">Main Collection:</h4>
				<h4 ng-show="coll.type=='reference' && $index==1">Reference Collection:</h4>
				<accordion >
					<accordion-group  is-open="true">
						<accordion-heading>
							<div>
								<b>{{coll.name}}</b><i> ({{docsCount}} items)</i>
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.accordionCollOpen, 'glyphicon-chevron-right': !status.accordionCollOpen}"></i>
								
							</div>
						</accordion-heading>
						<button ng-show="editModeViewColls" class="btn btn-danger pull-right" ng-click="removeCollection(coll._id)">Remove</button>	
						
						<div ng-bind-html="coll.err.msg" ng-show="coll.err" class="error">
							
						</div>	

						<div ng-show="!coll.err" class="panel panel-default">

							<div class="panel-heading">
								<div class="row" >
		  			
									<div class="col-xs-4">Columns</div>
									<div class="col-xs-4">Show as </div>
								</div>	
							</div>

							<div class="panel-body pad-0">
								<ul class="list-group">


									
									<li class="list-group-item pad-0-lr" ng-repeat="field in view.fieldsList | filter:field.coll=coll._id">
										



										<div class="col-xs-1"><input  ng-change='fieldVisible(field.id,field.coll)' ng-model="field.checked" type="checkbox"/> </div>		  					
										<div class="col-xs-5">{{field.name}}</div>
										<div class="col-xs-5" ng-show="editModeViewColl && fieldViewCollEditModeId==field.id">
											<form name="fieldAs">
												<input  type="text" name="input" ng-model="showAs">
											</form>
											
										</div>
										<div  class="col-xs-4" ng-show=" fieldViewCollEditModeId!=field.id">
											{{field.showAs}}	
										</div>
										<div class="col-xs-1 pad-10-r">

											<a href="" ng-click="editViewCollFields(field.id,true)" ng-show="!editModeViewColl">edit</a>
											<a href="" ng-click="editViewCollFields(field.id,false)" ng-show="editModeViewColl && fieldViewCollEditModeId==field.id">Ok</a>
										</div>

									</li>
								</ul>

							</div>
							
						</div>




						<div ng-show="docsCount==0 && !coll.err">Empty collections</div>
					</accordion-group>
				</accordion>	
			</div>	
		</div>
		<div ng-show="view.collections.length == 0">
			<h4>Please add a Collection</h4> 
		</div>
		<div class="col-md-6 col-xs-12" >
			<div class="btn-group-vertical">
				<button class="btn btn-primary " ng-show="view.collections.length==0" ng-click="addCollection('lg', 'main')">Add Collection</button>	
				<button class="btn btn-primary " ng-show="view.collections.length!=0" ng-click="addCollection('lg', 'reference')">Add External Reference</button>	

			</div>		
		</div>
		
		<div class="col-xs-12 col-md-6">
			<h5>Settings:</h5>	
			<div class="dropdown" ng-show="editModeViewColls">
				<span>Items per page:</span>	
				<div class="btn-group" dropdown is-open="status.isopen">
					<a class="btn btn-primary dropdown-toggle" >
						{{docsPerPageDisplay}} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(5)" >5</a></li>
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(10)" >10</a></li>
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(20)" >20</a></li>
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(25)" >25</a></li>
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(50)" >50</a></li>
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(100)" >100</a></li>
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(0)" >All</a></li>
						<li><a class="" dropdown-toggle ng-click="setDocsPerPage(-1)" >Custom</a></li>
					</ul>
				</div>
				<div>
					<label for="">Table Rows Height: </label><input class="form-control form-control-sm" ng-model='view.celHeight' type="number"  >
					<label for=""> Table header Height: </label><input class="form-control form-control-sm" ng-model='view.headerHeight' type="number"  >

				</div>
			</div>
			<div class="" ng-show="!editModeViewColls">
				<p>Items per page: {{view.docsPerPage}}</p>	
				<p>Table Rows Height:{{view.celHeight}}</p> 
				<p>Table header Height: {{view.headerHeight}} </p> 
				
			</div>
		

			<div ng-show="showCustomDocsPerPageSet && editModeViewColls">
				<label for="">Custom Docs per Page</label><input class="form-control" ng-model='customDocsPerPage' type="number"  >
				<button ng-click="view.docsPerPage==customDocsPerPage">Set</button>
			</div>
			<p>Create on <i>{{dateCreated}}</i></p>
			<div class="controls col-xs-2 pull-right">
				<button class="btn btn-danger" ng-show="viewHasChanged" ng-click="saveView(view.celHeight,view.headerHeight)">Save</button>
		
			</div>
		</div>

				
	</accordion-group>
</accordion>


<!-- view data -->
<accordion>
	<accordion-group ng-show="showItems"  is-open="true">
		<accordion-heading>
		<div>
			Items: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.accordionViewOpen, 'glyphicon-chevron-right': !status.accordionViewOpen}"></i>

		</div>
		</accordion-heading>

		<div class="row">
			<div id="docsTable" class="cs-table">
				<div >
					<div class="col-xs-2 table-column-index" ng-show="showFieldsList.length>0" ng-style="colIndex">
						<h5 ng-style="tableHeader" class="table-header">#</h5>
						<div ng-style="tableCel" class="tb-index-cel" ng-class-odd="'tb-odd-row'" ng-class-even="'tb-odd-even'" ng-repeat="doc in docs track by $index">
							{{($index + 1) + ((currentPage-1) * view.docsPerPage)}}
						</div>	
					</div>
				</div>

				<div  ng-repeat="field in showFieldsList track by field._id">
					<div class="col-xs-5 table-column" ng-style="colField">
						<h5 ng-style="tableHeader" class="table-header">{{field.name}}</h5>
						<div ng-style="tableCel" class="tb-cel" ng-class-odd="'tb-odd-row'" ng-class-even="'tb-odd-even'" ng-repeat="doc in docs track by $index">
							{{doc[field.name]}}
						</div>	
					</div>
				</div>
			</div>
		</div>
		<pagination total-items="bigTotalItems" ng-change="pageChanged(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="view.docsPerPage">

		</pagination>

		<div><span>Page: {{currentPage}} / {{numPages}}, </span><span>Tolal Items: {{docsCount}}</span>
		</div>











		
			<span ng-repeat="field in view.fieldsList">
				<div class="col-md-3"><label for="">{{field.name}}</label><input class="form-control" ng-model='field.value' type="text"  >
				</div>	
			</span>
			

	




		<div class="controls">
			<button type="submit"  ng-click="submitDoc()" class="btn btn-primary">Submit</button>
		</div>

	</accordion-group>	
</accordion>


<!-- Filters -->
<accordion>
	<accordion-group ng-show="showFilters"  is-open="status.accordionFiltersOpen">
	<accordion-heading>
	<div>
		Filters: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.accordionFiltersOpen, 'glyphicon-chevron-right': !status.accordionFiltersOpen}"></i>

	</div>
	</accordion-heading>
	<a ng-click="sorting(asyncSelected)">Ranking<span class={{sortByRankingUpIcon}}></span></a>
	<input type="text" ng-model="asyncSelected" placeholder="search" typeahead="searchResult for searchResult in typeAheadSearch($viewValue)" typeahead-loading="searching" class="form-control">
	<i ng-show="searching" class="glyphicon glyphicon-refresh"></i>		
	<button class="btn btn-primary" ng-click="search(asyncSelected)">Search</button>
	</accordion-group>
</accordion>

<!-- Tools -->
<accordion>
	<accordion-group ng-show="showTools"  is-open="status.accordionToolsOpen">
	<accordion-heading>
	<div>
		Tools: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.accordionToolsOpen, 'glyphicon-chevron-right': !status.accordionToolsOpen}"></i>

	</div>
	</accordion-heading>
	<!--  -->

	<button class="btn btn-primary" disabled ng-click="saveFields()">Create Databases Collection</button>
	<button class="btn btn-primary"  ng-click="setCollections()">Popolate table "Collections" </button>

	</accordion-group>
</accordion>


<!-- debugging -->


<div ng-show="currentUser.preference.debugging && debugging" class="debugging debugging-pos" >
	
	debugging: <i class="pull-right glyphicon" ng-click="debugging=!debugging" ng-class="{'glyphicon-close': debugging, 'glyphicon-close-right': !debugging}">x</i>
	<pre  pretty-json="{docs: docs}"/>
	 <pre  pretty-json="{view: view}"/>
<br/>
	todolist{{todolist}}
	<div ng-init="todolist=true" ng-show="todolist" >
		<h5><span>todo List</span><span  class="btn" ng-click="todolist=false"> [x]</span></h5>
		<ul>
			<li>delete collection from the db when delete in the ui</li>
		</ul>
	</div>	

	
	<div ><!-- showView: {{showView}} -->

	</div>



	<!-- <div>showFieldsList:{{showFieldsList}}</div>
	<br>
	<div>docs:{{docs}}</div>
	<br>
	<div>view.:{{view}}</div>
	<br>
	
	<br>
	<div class="form-group">
        <label for="photos">Input Picture</label>
        <input class="btn btn-default btn-file" id="photos" type="file"  ng-file-select="onFileSelect($files)" multiple>
        <p class="help-block">Select pictures</p>
        <div ng-repeat="file in files" class="container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{file.progress}}%;">
                    {{file.name}} : {{file.progress}}
                </div>
            </div>
            <button class="btn btn-ttc" type="button" ng-click="abort($index)" ng-show="file.progress != 100">Abort</button>
        </div>
    </div>
    <div ng-repeat="imageUpload in imageUploads">
    	<img class="img-thumb" ng-src="{{imageUpload.location}}"/>
		<p>file: {{imageUpload.fileName}}</p>
    </div> -->
</div>












