<div class="page-intro">
    <h2>You are following({{groups.length}}) categories</h2>
</div>

<accordion close-others="oneAtATime">
    <accordion-group ng-class="group.id" ng-click="onClickRow(group.id)" ng-controller="GroupController" heading="{{group.name}}" ng-repeat="group in groups">
        <ul ng-if="venue.description && venue.image_url" class="list-group" ng-repeat="venue in group.content">
            <li class="list-group-item" class="clearfix">
                <div ng-if="venue.image_url" class="thumbnail pull-left" ng-style="{'background-image' : 'url('+venue.image_url+')'}">
                </div>
                <h3>{{venue.name}}</h3>
                <p>{{venue.description}}</p>
            </li>
        </ul>
    </accordion-group>
</accordion>


<div >

    <ul ui-sortable ng-model="list" class="list">
      <li ng-repeat="item in list" class="item">
        {{item.text}}
      </li>
    </ul> 
</div>
