<div class="page-intro clearfix">

    <h2 class="pull-left">You are following({{groups.length}}) authors</h2>

    <div class="switch-view pull-right">
                <span ng-show="!editing" class="pull-right">
                <a ng-click="editingClick(true)" class="btn-edit glyphicon glyphicon-th-list"></a>
        </span>
        <span ng-show="editing" class="pull-right">
                <a ng-click="editingClick(false)" class="btn-edit glyphicon glyphicon-th-list"></a>
        </span>
    </div>

</div>

<div class="reader">
    <ul class="panel-group" ng-class="group.id" ng-show="!editing" ng-controller="GroupController"
         ng-repeat="group in groups">

            <li ng-if="venue.description && venue.image_url" class="panel" ng-class="group.id" ng-repeat="venue in group.content">

                <div ng-if="venue.image_url" class="thumbnail clearfix"
                     ng-style="{'background-image' : 'url('+venue.image_url+')'}">
                    <p class="category">{{group.name}}</p>
                </div>

                <div class="content">
                    <h3>{{venue.name}}</h3>

                    <p>{{venue.description}}</p>
                </div>

            </li>
    </ul>
</div>


<div class="reader">
      
    <div ng-show="editing" ui-sortable ng-model="groups" class="panel-group " >
        <div ng-repeat="group in groups" ng-swipe-left="showActions = true" ng-swipe-right="showActions = false" class=" panel panel-default" ng-class="group.id">
            <div ng-show="showActions"  class="delete-label" ng-click="delete()">
                <i class="glyphicon glyphicon-trash glyphicon-delete pull-right"></i> 
            </div>
            <div class="panel-heading"> 
                 <div class="pull-right icon-cointainer ">
                    <div class="align-vertical">

                        <div class="icon-move"></div>  
                    </div>
                      
                 
                    

                                   
                 </div>

                <h4 class="panel-title">
                    {{group.name}}
                </h4> 
               

            </div> 
        </div>
    </div> 
</div>