<div class="navbar navbar-default navbar-static-top " ng-controller="NavbarCtrl">

    <div class="container-fluid">
     
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle dropdown"  ng-click="collapseFn()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a  class="navbar-brand" href="/"> <img ng-hide="home" class="navbar-brand-img" src="/img/uxentrik-logo.png" alt="uxentrik logo"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="{'in':!collapse}">
            <ul class="nav navbar-nav" >
              
           

                <li  ng-show="showMenuItem" class="dropdown">
                    <a href="" class="dropdown-toggle">Admin  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
      
                        <li><a ng-click="collapseFn()" href="/admin-view">views</a></li>
                           </ul>
                </li>

                <li >
                    <a ng-click="collapseFn()" href="/blogs">blogs</a>
                </li>
            </ul>

            <ul class="nav navbar-nav  navbar-right" ng-hide="currentUser">
                <li><a ng-click="collapseFn()" href="/login">Log In</a></li>
                <li><a ng-click="collapseFn()" href="/signup">Sign up</a></li>
            </ul>
            <ul class="nav navbar-nav  navbar-right" ng-show="currentUser">
                <li class="dropdown">
                    <a class="dropdown-toggle">Hi {{ currentUser.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li><a ng-click="collapseFn()" href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    
                    </ul>
                </li>
            </ul>
        </div>
 
    <!--/.navbar-collapse --><!--  -->

     </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

