
<section ng-init="findOne()">
    <form class="form-horizontal" >
        <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" ng-model="blog.title" class="form-control" id="title" placeholder="Title" required="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="content">Content</label>

            <ux-teditor textarea-id="blog" textarea-class="form-control"  textarea-height="480px" textarea-editmode="true" textarea-name="textareaQuestion"  textarea-required ng-model="blog.content" enable-bootstrap-title="false"></ux-teditor>

        </div>
        <div class="form-group">
            <div class="controls">
                <button  ng-click="updateSubmit()" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </form>


 <!--    <h3>colorpicker</h3>
    <input colorpicker="hex" type="text" ng-model="your_model" />
    <br> -->
    

<!-- <h1>One simple WYSIWYG</h1>
<textarea ng-wig="text1"></textarea>

<h1>One more</h1>
<textarea ng-wig="text2"></textarea>

    <button class="btn" ng-click="insertDiv()">Div</button> -->


    <!-- <h3>Output</h3>
    <div class="teditor output border-1 border-red" ng-bind-html="output"></div>


  -->






  
    
 
  




<br>
<br>
<br>
<br>

   <div ng-show="currentUser.preference.debugging && debugging" class="debugging debugging-pos" >
    
        debugging: <i class="pull-right glyphicon" ng-click="debugging=!debugging" ng-class="{'glyphicon-close': debugging, 'glyphicon-close-right': !debugging}">x</i>
     
       blog.content:{{blog.content}}
    

        <div ng-init="todolist=true" ng-show="todolist" >
            <h5><span>todo List</span><span  class="btn" ng-click="todolist=false"> [x]</span></h5>
            <ul>
                <li></li>
            </ul>
        </div>  

        
        <div >
        </div>
    </div>

</section>