<div ng-controller='CtrlCalc'>
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<h2>Calculate the square of:</h2>
		<form class="form-inline" novalidate>
			<div class="inline form-group">	
				
				<!-- example of call to the server -->
				<input type="number"  min="0" max="99" class="form-control input-lg text-center" placeholder="send request to the server and wait response" ng-model="formData.number" required ng-required="true">
				
				<button class="btn btn-primary btn-lg" ng-click="doSomething(formData)" >Send Request</button>
				<div class="alert alert-success" ng-show="somethingisNumber">{{msg}}</div>    	
				<span class="error" ng-show="formData.number.$error.required">Required!</span>
				<span class="error" ng-show="formData.number.$error.number"> Not valid number!</span>			
				
			</div>
		</form>	
	</div>
</div>