



<div class="margin-bottom-10" ng-controller='CtrlInfinityPagination'>
	<div infinite-scroll='update(asyncSelected)' infinite-scroll-disabled='busy' infinite-scroll-distance='1' >
		<div class="row pH10">
			<div class="col-xs-2 ">
				<div class="sorting"><a ng-click="sorting(asyncSelected)">Ranking<span class={{sortByRankingUpIcon}}></span></a>	</div>
			</div>
			<div class="col-xs-3 ">
				<h3 class="">Infinity</h3>
			</div>
			<div class="col-xs-6">
				<input type="text" ng-model="asyncSelected" placeholder="search" typeahead="searchResult for searchResult in typeAheadSearch($viewValue)" typeahead-loading="searching" class="form-control">
				<i ng-show="searching" class="glyphicon glyphicon-refresh"></i>		
			</div>
			<div class="col-xs-1">
				<button class="btn btn-primary" ng-click="search(asyncSelected)">Search</button>
			</div>
		</div>
	</div>
	<div class="fullHeight">
		<div class="scrollingPanel nav navbar-nav side-nav">
			<!-- col-xs-offset-4 -->
			<a ng-repeat='item in items | orderBy:item.popolarity:reverse' class="list-group-item" ng-href='{{item.link}}' target='_blank'>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-1 ">
							<small>{{$index}}</small>	
						</div>
						
						<div class="col-xs-2 score label label-primary label-xl">
							{{item.popolarity}}

						</div>
						<div class="col-xs-7 listItem ">
							<small>
								{{item.grapeName}}
							</small>
							<span class='title'>
								{{item.name}}
							</span>
						</div>
						<div class="col-xs-1 ">
							<div class="badge ">
								{{item.avgPrice}}
							</div>
						</div>
						<div class="col-xs-1 ">
							<div class="glyphicon  glyphicon-chevron-right ">
							</div>	
						</div>
					</div>
				</div>
			</a>
		</div>
		<div ng-show='infinityPager.busy'>Loading data...
		</div>
	</div>
	<div class="row bottom">
		<div class="col-xs-2 ">
		</div>
		<div class="col-xs-8 ">
			<h2 class="pH10">{{itemsCount}}</h2>
		</div>
		<div class="col-xs-2 btn-group btn-group-lg pull-right  btn-add">
			<button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
		</div>	
	</div>
</div>






