 <div ng-controller="CtrlPaginationRemoteData">  

 	<div class="panel panel-default text-left">
 		<form class="navbar-form">
 			<input type="text" class="form-control input-lg text-left" ng-model="searchTerm" placeholder="search"/>

 		</form>

 		<div class="row">
 			<div class="col-xs-6 col-xs-offset-4">
 				<button class="btn btn-primary btn-lg navbar-right" ng-click="doSearch()" type="button"> Search </button>

 			</div>
 			<div class="col-xs-2">
 				<div class="btn-group btn-group-lg ">
 					<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
 				</div> 	
 			</div>
 		</div>




 		<div class="list-group">
 			<!-- REPEAT -->
 			<a href="#" class="list-group-item blue" ng-repeat="item in items" ng-show="items.length > 0">
 				<div class="row">
 					<div class="col-xs-11">
 						<h4 class="list-group-item-heading blue">{{item.name}}</h4>
 						<p class="list-group-item-text">...</p>
 					</div >
 					<div class="col-xs-1">
 						<button ng-hide="false" ng-click="deleteDoc(item._id)" class="btn btn-danger pull-right glyphicon glyphicon-trash"></button>
 					</div >
 				</div>

 			</a>
 			<!-- REPEAT END-->
 		</div>


 		<pagination total-items="bigTotalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination pagination-lg" boundary-links="true" rotate="false" num-pages="numPages">

 		</pagination>

 		<div>Page: {{currentPage}} / {{numPages}}</div>

 	</div> 	






 </div> 
 <script  src="script/CtrlPaginationRemoteData.js"></script> 


