<!doctype html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>       <html lang="en" ng-app="myApp" class="no-js"><![endif]-->

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Time Out Reader</title>

    <link rel="stylesheet" href="../resources/reader.css"/>

     </head>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
<!--[if lt IE 9]>
    <script src="../../scripts/lib/es5-shim/es5-shim.js"></script>
    <script src="../../scripts/lib/json3/lib/json3.min.js"></script>
    <![endif]-->
<body ng-app="myApp" >

    <div class="container-fluid" ng-view>
    </div>

    <script type="text/javascript" src="../../scripts/lib/jquery.js"></script>
    <script type="text/javascript" src="../../scripts/lib/angular.js"></script>
    <script type="text/javascript" src="../../scripts/lib/angular-cookies.js"></script>
    <script type="text/javascript" src="../../scripts/lib/angular-sanitize.js"></script>
    <script type="text/javascript" src="../../scripts/lib/angular-route.js"></script>
    <script type="text/javascript" src="../../scripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../scripts/lib/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../../scripts/lib/ui-bootstrap-tpls.js"></script>

    <!-- custom -->
    <script type="text/javascript" src="../../scripts/app.js"></script>
    <script type="text/javascript" src="../../scripts/controllers/CtrlMain.js"></script>

    <!--Slice -->
    <script type="text/javascript" src="../../components/graffiti/graffiti.js"></script>
    <script type="text/javascript" src="../../components/date/date.js"></script>
    <script type="text/javascript" src="../config.js"></script>

    </body>
</html>